
@font-face {
  font-family: Roboto-Regular;
  src: url("roboto/Roboto-Regular-webfont.woff") format("woff"),
  url("roboto/Roboto-Regular-webfont.ttf") format("truetype"),
  url('roboto/Roboto-Regular-webfont.eot');
}

@font-face {
  font-family: Roboto-Bold;
  src: url("roboto/Roboto-Bold-webfont.woff") format("woff"),
  url("roboto/Roboto-Bold-webfont.ttf") format("truetype"),
  url('roboto/Roboto-Bold-webfont.eot');
}

@font-face {
  font-family: Roboto-Medium;
  src: url("roboto/Roboto-Medium-webfont.woff") format("woff"),
  url("roboto/Roboto-Medium-webfont.ttf") format("truetype"),
  url('roboto/Roboto-Medium-webfont.eot');
}

