/* 배너 */
.main_header {background-image: url(/res/mka/img/main/bg_slide.png);background-position: center;background-size: cover;}
.main_header .banner_text_wrapper {}
.main_header .header_text {margin: 0;line-height: 1;font-weight: normal;font-family: robotoslab-medium, sans-serif;color: white;}
.header_prgph {margin: 0px;line-height: 1;font-family: 'robotoslab-regular', sans-serif;color: white;}

@media screen and (min-width:1360px) {
    .main_header {width: 100%;height: 800px;}
    .main_header .banner_text_wrapper {padding-top: 510px;text-align: center;}
    .main_header .header_text {font-size: 52px;margin-bottom: 30px;}
    .header_prgph {font-size: 24px;}
}
@media screen and (min-width:768px) and (max-width:1359px) {
    .main_header {width: 100%;height: 440px;}
    .main_header .banner_text_wrapper {padding-top: 300px;text-align: center;}
    .main_header .header_text {font-size: 36px;margin-bottom: 20px;}
    .header_prgph {font-size: 14px;}
}
@media screen and (max-width:767px) {
    .main_header {width: 100%;height: 440px;}
    .main_header .banner_text_wrapper {padding-top: 280px;width: 300px;margin-left: auto;margin-right: auto;text-align: center;}
    .main_header .header_text {font-size: 28px;line-height: 33px;margin-bottom: 20px;}
    .header_prgph {font-size: 14px;}
}


/* 메인에 사용되는 아티클 */
.main_article {position: relative;}

@media screen and (min-width:1360px) {
    .main_article {padding: 120px 0px;}
}
@media screen and (min-width:768px) and (max-width:1359px) {
    .main_article {padding: 60px 0px;}
}
@media screen and (max-width:767px) {
    .main_article {padding: 50px 0px 0px 0px; }
}


/* 소개 아티클 */
#main_introduction {}
#main_introduction .content_left {}
#main_introduction .content_right.video_wrapper {background: #232323;position: relative;}
#main_introduction .content_right.video_wrapper .btn_play {position: absolute;cursor: pointer;}
#main_introduction .additional_background {position: absolute;z-index: -1;background: #eef8f5;}

@media screen and (min-width:1360px) {
    #main_introduction {height: 690px;}
    #main_introduction .content_left {width: 480px;margin-top: 80px;float: left;}
    #main_introduction .content_left p {font-size: 18px;line-height: 28px;margin-top: 60px;}
    #main_introduction .content_right.video_wrapper {float: right;width: 800px;height: 450px;}
    #main_introduction .content_right.video_wrapper .btn_play {width: 50px;left: calc(50% - 25px);top: calc(50% - 25px);}
    #main_introduction .additional_background {width: 730px;height: 100%;top: 0;right: 0;}
}
@media screen and (min-width:768px) and (max-width:1359px) {
    #main_introduction {height: 345px;}
    #main_introduction .content_left {width: calc(100% - 430px);margin-top: 15px;float: left;}
    #main_introduction .content_left p {font-size: 14px;line-height: 24px;margin-top: 30px;}
    #main_introduction .content_right.video_wrapper {float: right;width: 400px;height: 225px;}
    #main_introduction .content_right.video_wrapper .btn_play {width: 50px;left: calc(50% - 25px);top: calc(50% - 25px);}
    #main_introduction .additional_background {width: 300px;height: 100%;top: 0;right: 0;}
}
@media screen and (max-width:767px) {
    #main_introduction {}
    #main_introduction .content_left {width: 100%;margin-top: calc(56.25vw + 18px);}
    #main_introduction .content_left p {font-size: 14px;line-height: 24px;margin-top: 20px;}
    #main_introduction .content_right.video_wrapper {position: absolute;top: 50px;width: calc(100vw - 40px);height: calc(56.25vw - 22px);}
    #main_introduction .content_right.video_wrapper .btn_play {width: 40px;left: calc(50% - 20px);top: calc(50% - 20px);}
    #main_introduction .additional_background {width: 100%;height: calc(37.5vw + 36px);top: 0;right: 0;}
}


/* 주요 강의 코스 카드 리스트 */
#featured_course {}
#featured_course .course_list {padding: 0px;}
#featured_course .course_list .course_item {outline: none;}
#featured_course .course_item .course_thumbnail {background-color: #00b388;text-align: left;background-size: cover;background-position: center;}
#featured_course .course_thumbnail .thumbnail_ir {font-family: Roboto-Bold, sans-serif;display: block;position: absolute;width: 100%;}
#featured_course .course_thumbnail[style*="background-image"] .thumbnail_ir {color: transparent;}
#featured_course .course_item .course_category {display: block;font-family: Roboto-Medium, sans-serif;color: #00b388;}
#featured_course .course_item .course_title {font-family: 'Roboto-Medium', sans-serif;color: #232323;}

@media screen and (min-width:1360px) {
    #featured_course {}
    #featured_course .course_list {margin-bottom: 60px;}
    #featured_course .course_list .course_item {width: 433px;margin-right: 30px;}
    #featured_course .course_item .course_thumbnail {width: 100%;height: 240px;position: relative;z-index: 1;margin-bottom: 30px;}
    #featured_course .course_thumbnail .thumbnail_ir {color: white;font-size: 20px;line-height: 30px;padding: 20px;}
    #featured_course .course_item .course_category {font-size: 16px;line-height: 1.1;margin-bottom: 18px;}
    #featured_course .course_item .course_title {font-size: 22px;line-height: 29px;}
}
@media screen and (min-width:768px) and (max-width:1359px) {
    #featured_course {}
    #featured_course .course_list {margin-bottom: 60px;}
    #featured_course .course_list .course_item {width: 290px;margin-right: 20px;}
    #featured_course .course_item .course_thumbnail {width: 100%;height: 160px;position: relative;z-index: 1;margin-bottom: 25px;}
    #featured_course .course_thumbnail .thumbnail_ir {color: white;font-size: 20px;line-height: 30px;padding: 20px;}
    #featured_course .course_item .course_category {font-size: 14px;line-height: 1.1;margin-bottom: 16px;}
    #featured_course .course_item .course_title {font-size: 18px;line-height: 25px;}
}
@media screen and (max-width:767px) {
    #featured_course {}
    #featured_course .course_list {margin-bottom: 60px;}
    #featured_course .course_list .course_item {width: 290px;margin-right: 20px;}
    #featured_course .course_item .course_thumbnail {width: 100%;height: 160px;position: relative;z-index: 1;margin-bottom: 25px;}
    #featured_course .course_thumbnail .thumbnail_ir {color: white;font-size: 20px;line-height: 30px;padding: 20px;}
    #featured_course .course_item .course_category {font-size: 14px;line-height: 1.1;margin-bottom: 16px;}
    #featured_course .course_item .course_title {font-size: 18px;line-height: 25px;}
}

/* 주요 강의 코스 컨트롤러 */

#featured_course .course_list_controller {}
#featured_course .course_list_controller .controll_item {display: inline-block;vertical-align: middle;}
#featured_course .controll_btn_list {display: inline-block;vertical-align: middle;}
#featured_course .controll_btn_list .btn_controll {border: none;background: transparent;border-radius: 100%;padding: 0px;vertical-align: middle;}
#featured_course .btn_controll .btn_controll_img.pressed{display: none;}
#featured_course .btn_controll:hover {background: #eef8f5;}
#featured_course .btn_controll:hover .btn_controll_img {display: none;}
#featured_course .btn_controll:hover .btn_controll_img.pressed {display: inline-block;vertical-align: middle;}
#featured_course .controller_page_bar {border: none;}
#featured_course .controller_page_bar{display: inline-block;vertical-align: middle;background: #e3e3e3;}
#featured_course .controller_page_bar .page_index{background: #00b388;}

@media screen and (min-width:1360px) {
    #featured_course .course_list_controller {}
    #featured_course .course_list_controller .controll_item {}
    #featured_course .course_list_controller .controll_btn_list {margin-right: 40px;}
    #featured_course .controll_btn_list {}
    #featured_course .controll_btn_list .btn_controll {width: 48px;height: 48px;}
    #featured_course .btn_controll .btn_controll_img{width: 20px;}
    #featured_course .controller_page_bar {width: calc(100% - 150px);height: 2px;}
    #featured_course .controller_page_bar .page_index{height: 2px;}

}
@media screen and (min-width:768px) and (max-width:1359px) {
    #featured_course .course_list_controller {}
    #featured_course .course_list_controller .controll_item {}
    #featured_course .course_list_controller .controll_btn_list {display: none;}
    #featured_course .controll_btn_list {}
    #featured_course .controll_btn_list .btn_controll {width: 48px;height: 48px;}
    #featured_course .btn_controll .btn_controll_img{width: 20px;}
    #featured_course .controller_page_bar {width: 100%;height: 2px;}
    #featured_course .controller_page_bar .page_index{height: 2px;}
}
@media screen and (max-width:767px) {
    #featured_course .course_list_controller {}
    #featured_course .course_list_controller .controll_item {}
    #featured_course .course_list_controller .controll_btn_list {display: none;}
    #featured_course .controll_btn_list {}
    #featured_course .controll_btn_list .btn_controll {width: 48px;height: 48px;}
    #featured_course .btn_controll .btn_controll_img{width: 20px;}
    #featured_course .controller_page_bar {width: 100%;height: 2px;}
    #featured_course .controller_page_bar .page_index{height: 2px;}
}
